@charset "UTF-8";
body {
    margin-top: 0px;
    background-color: #883e9f;
    padding: 0px;
}

.bbc {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    background-color: #f8f12c;
    padding: 5px;
    border: solid 1px #cccccc
}

@media (min-width: 410px) {
    #wrp {
        width: 1024px;
        background-color: #883e9f;
        margin-top: 0px;
        margin-left: auto;
        margin-right: auto;
    }
    #htmlfm {
        margin-top: 0px;
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
    .bbc {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        background-color: #f8f12c;
        padding: 5px;
        border: solid 1px #cccccc
    }
    .bbc:hover {
        background-color: #ede98a;
        width: 530px;
    }
    footer {
        text-align: center;
    }
    #out {
        width: 200px;
        background-color: #cfd9e2;
        text-align: center;
        border-radius: 6px;
        margin: 5px;
    }
}